.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 25px;

}



.head {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('pictures/logo.png');
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.boitelogo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    background-color: rgb(13, 90, 177);
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    height: 4rem;
    background-color: rgb(11, 66, 128);
    padding-right: 2rem;

}



.link {padding-left: 10px;}

.navigation__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navigation__ul_li_a {
  display: flex;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.5em 1em;
  background: rgb(165, 186, 210);
}
.navigation__ul_li_a:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  padding: 0.6em 0.9em 0.4em 1.1em;
}






.corps {
    display: flex;
    justify-content: space-between;



}

.partie1 {
    width: 50%;
    height: 750px;

}

.partie2 {

    background-color: rgb(13, 90, 177);
    width: 47%;
    height: 800px;

}

.wellcome {
    font-size: 30px;
    font-family: "Julius Sans One", sans-serif;
}


.txtpht {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    margin-left: 10px;
    color: white;
}

.lorem {

     padding-left: 20px;
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    font-size: 20px;
}


.imge {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.imge>div {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
}

.imge>div:hover {
    transform: scale(1.05);
}

.imgg1 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg2 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg3 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg4 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg5 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg6 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg7 {
    background-image: url('pictures/pictures.jpeg');
}

.imgg8 {
    background-image: url('pictures/pictures.jpeg');
}

.logo:hover,
.img1:hover,
img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.who {
    width: 100%;
    height: 45px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.sqg {
    padding-left: 30px;
    display: flex;
    font-size: 20px;
}

.corps{
    background-color: rgb(101, 158, 232);
}