@use "mixins"

.navigation
    margin-top: 1.5rem
    &__ul
        display: flex
        flex-wrap: wrap
        gap: 1rem

        &_li
            &_a
                display: flex
                font-size: 1.25rem
                @include mixins.button
