body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
    font-size: clamp(0.5rem, -0.0455rem + 2.7273vw, 2rem);
}

ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: flex-end;
}

li a {
    background: transparent;
    padding: 0.5rem 3rem;
    border: solid #000000;
    border-radius: 25rem;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    text-decoration: none;

}

li a:hover {
    background: #140085;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25rem;
}

header {
    background-size: cover;
    background-image: url(cote.jpg);
    background-position: center;
    width: 100%;
    border-radius: 10px;
    gap: 1.5rem;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem;
    border-radius: 10px;
    gap: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

}


.ligne{
    width: 33%;
    height: 0.5rem;
    background-color: rgb(255, 123, 0);
    margin-top: -1.99rem;
}


h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #00039e;
}

span {
    font-size: 1.5rem;
    color: #051074;
    font-weight: initial;

}

h2 span{
    color: orange;
    font-size: 3rem;
    font-weight: bold;
}

header h3 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: -2.5rem;
}

header a {
    background: transparent;
    border: solid #ffffff;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
         transition: 0.3s ease-in-out;

}

header a:hover {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25rem;
}






.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}



.img{
    width: 20rem;
    height: 23rem;
    border-radius: 1.5rem;
    margin-top: 3rem;
    background-image: url(cote.jpg);
    background-size: cover;
     transition: 0.3s ease-in-out;
}

.box.img{
    background-image: url(max.PNG);
}

.box2.img{
    background-image: url(tpmp.jpg);
}

.img:hover {
    transform: scale(1.05);
   
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cf004f;
    margin-top: 2rem;
}



footer {
    display: flex;
    background-image: url(cote.jpg);
    background-size: cover;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 1.5rem;
    height: auto;
    margin-top: 3rem;
}


.fire_right{
    left: 7.5rem;
    position: relative;
    top: 3.5rem;


}

.fire_left{
     left: 11rem;
    position: relative;
    top: 5.75rem;
}
