.boxsarah{
    width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxjohn{
      width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxadrien{
       width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxkeran{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxrita{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxmohamed{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxaboubakar{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxeliot{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxvincent{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxclement{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxtheophile{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxpierregauthier{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxmourtadji{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

.boxabdourahaman{
  width: 15rem;
    height: 15rem;
    border: solid 1px black;
}

section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}