.boxsarah{
    width: 4rem;
    height: 4rem;
    border: solid 1px black;
}

.boxjohn{
      width: 4rem;
    height: 4rem;
    border: solid 1px black;
}

.boxadrien{
       width: 4rem;
    height: 4rem;
    border: solid 1px black;
}