header{
    width: 100%;
    height: 20rem;
    background-image: url(China+1+SQ.jpg);
    background-size: cover;
}

body{
    color: white;
    background-color: #0a0324;
    }
    

.navbox{
    width: 100%;
    height: auto;
    background-color: #0a0324;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
padding: 1rem;
border: 2px solid #2dbcff;
}

.navbutton{
    font-weight: bolder;
    color: #f6287d;
    text-decoration: none;
    border: 3px solid #f6287d; 
    padding: 2rem;
}

.navbutton:hover{
    border: 3px solid #2dbcff;
    background-color: #f6287d;
    color: white;

}