.container{
    width: 100%;
    padding-inline: 25px;
    margin-inline: auto ;
}

.container-s{
    max-width: 400px;
}

.container-m{
    max-width: 800px;
}

.container-l{
    max-width: 1200px; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
    gap: 1.2rem;
}

.header h1{
    font-size: 5rem;
    font-weight: 700;
}

.header p{
    font-size: 1.2rem;
}

.body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.possums{
    height: 12rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px rgb(87, 87, 87);
    border-radius: 30px;
    transition: .8s;
}
.possums:hover{
    transform: scale(1.08);
}

.overlay{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    padding: auto;
    color: rgba(255, 255, 255, 0);
    font-weight: 700;
    transition: .8s;
}
.overlay:hover{
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
}

.possum1{
    background-image: url(possum1.jpg);
}

.possum2{
    background-image: url(possum2.jpg);    
}

.possum3{
    background-image: url(possum3.jfif);    
}

.possum4{
    background-image: url(possum4.jfif);    
}