.fond{
    background-color: bisque;
}
.corps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    background-image: url("shiba-max-shiba-inu.gif");
    height: 165px;
    width: 220px;
    margin: 3rem;
    border-radius: 10px;
    border: 5px solid orange;
}

h1{
    color: rgb(0, 0, 0);
    margin: 3rem;
    font-size: 50px;
    font-family: sans-serif;
}

p{
    margin: 2rem;
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.image2{
    background-image: url("shiba-inu-shiba-max.gif");
    height: 165px;
    width: 220px;
    margin: 3rem;
    border-radius: 10px;
    border: 5px solid blue;
}

.image3{
    background-image: url("5f4446b3352a7f0a4767529fde0e92d1_w200.gif");
    height: 165px;
    width: 220px;
    margin: 3rem;
    border-radius: 10px;
    border: 5px solid blueviolet;
}

.image4{
    background-image: url("c6003a74f646f4373429c4ab088be7f5_w200.gif");
    height: 165px;
    width: 220px;
    margin: 3rem;
    border-radius: 10px;
    background-size: cover;
    border: 5px solid green;
}

.doggi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

