.titre{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    background-color: black;

}
.kiffer{
    font-weight: bold;
    color: rgb(226, 8, 8);
    background-color: blue;
    text-decoration: underline;
}
.admin{
    background-color: aqua;

}

.texte{
    border: 5px solid;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 30px;
}
.kagura{
    display: flex;
    gap: 40px;
    margin: 50px auto;
    max-width: 1000px;
    padding: 0 20px;

}