.me{
    background-size: cover;
    background-position: center;
    border: solid 1px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width: 10rem;
    height: 10rem;
    border: solid 1px green;
}
.image2{
display: flex;
align-items: center;
justify-content: center;
}